body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


@media (min-width:1200px) {
    .auto-clear .col-lg-1:nth-child(12n+1) {
        clear: left;
    }

    .auto-clear .col-lg-2:nth-child(6n+1) {
        clear: left;
    }

    .auto-clear .col-lg-3:nth-child(4n+1) {
        clear: left;
    }

    .auto-clear .col-lg-4:nth-child(3n+1) {
        clear: left;
    }

    .auto-clear .col-lg-6:nth-child(odd) {
        clear: left;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .auto-clear .col-md-1:nth-child(12n+1) {
        clear: left;
    }

    .auto-clear .col-md-2:nth-child(6n+1) {
        clear: left;
    }

    .auto-clear .col-md-3:nth-child(4n+1) {
        clear: left;
    }

    .auto-clear .col-md-4:nth-child(3n+1) {
        clear: left;
    }

    .auto-clear .col-md-6:nth-child(odd) {
        clear: left;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .auto-clear .col-sm-1:nth-child(12n+1) {
        clear: left;
    }

    .auto-clear .col-sm-2:nth-child(6n+1) {
        clear: left;
    }

    .auto-clear .col-sm-3:nth-child(4n+1) {
        clear: left;
    }

    .auto-clear .col-sm-4:nth-child(3n+1) {
        clear: left;
    }

    .auto-clear .col-sm-6:nth-child(odd) {
        clear: left;
    }
}

@media (max-width:767px) {
    .auto-clear .col-xs-1:nth-child(12n+1) {
        clear: left;
    }

    .auto-clear .col-xs-2:nth-child(6n+1) {
        clear: left;
    }

    .auto-clear .col-xs-3:nth-child(4n+1) {
        clear: left;
    }

    .auto-clear .col-xs-4:nth-child(3n+1) {
        clear: left;
    }

    .auto-clear .col-xs-6:nth-child(odd) {
        clear: left;
    }
}

.description img {
    width: 100%;
    /*max-height:80px;*/
}

.feedItem {
    border-radius: 25px;
    background-color: #e3fffb;
    padding: 20px;
    border: 1px solid #ccdfdd;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

#selectedFeed{

    text-align:center;

}



