@model NyhetsSajt.Models.Entites.RSSUrl

@{
    ViewData["Title"] = "CreateRSSUrl";
}

<h2>Add new RSS Feed</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRSSUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="FeedName" class="control-label"></label>
                <input asp-for="FeedName" class="form-control" />
                <span asp-validation-for="FeedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
